.calci{
    width: 80vw;
    height: 70vh;
    border: 2px solid green;
    margin: auto;
    margin-top: 10vh;
    display: flex;
    box-shadow: 2px 2px 3px 3px;
    flex-direction: column;
    background-color: rgba(15, 14, 16, 0.911);
}
.btn{
    display:grid;
    margin: 1.5em;
    grid-template-columns: repeat(4,1fr);
}
button{
    padding: .5em;
    margin: .3em;
    border-radius:9%;
    box-shadow: 2px 2px 1px 3px;
    font-size: larger;
    font-weight: 700;
    background-color: rgb(191, 195, 192);
}
input{
    margin: .8em;
    padding: 1em;
    border-radius: 2%;
    text-align:end;
    box-shadow: 1px 2px 3px 2px;
    font-size: xx-large;
    background-color: rgb(235, 230, 155);
}